.group-list {
    display: flex;
    justify-content: space-between;
}

.group-list>li {
    list-style: none;
}

.group-list>li:hover {
    cursor: pointer;
    background: black;
    color: #fff;
}

.edit-form {
    display: blocks;
    width: 100%;
    padding: 5px;
}

.content {
    display: grid;
    place-items: center;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    padding-bottom: 10px;
}

.author-submit {
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-left: 50px;
    color: #fff;
    background: #3a3aa1;
    border: 1px solid #3a3aa1;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}